@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

p.tiny {
  size: 50%;
}

.user-id-input {
  letter-spacing: 0.2rem;
  font-family: monospace;
}